/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background: #ff80ce;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.logo img {
    border-radius: 50%;
    height: 100px;
}

.logo:hover img,
.hero:hover,
.project-card:hover,
.about-section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #ff80ce;
    border-radius: 16px;
    cursor: pointer;
}

header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

header .nav-links li {
    display: inline;
}

header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 8px;
}

header .nav-links a:hover {
    background-color: white;
    color: #ff80ce;
    transform: scale(1.05);
    box-shadow: 0 8px 16px #e846aa;
    border-radius: 16px;
    cursor: pointer;
}

.nav-links .active {
    background-color: white;
    color: #ff80ce;
}

.menu-icon {
    display: none;
    cursor: pointer;
  }
.menu-icon span {
    color: white;
}

/* Styles for showing the menu when toggled */
.nav-links.show {
    display: flex;
    border-radius: 8px;
    padding: 30px;
  }

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #f4f4f4;
}

.hero h1 {
    font-family: 'Just Another Hand';
    margin: 0 0 10px;
    font-size: 46px;
    font-weight: 700;
}

.hero p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.projects-section {
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.projects-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card h3 {
    font-size: 24px;
    margin: 16px;
}

.project-card p {
    font-size: 16px;
    margin: 0 16px 16px;
}

.project-card .links {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.project-card .links a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 500;
}

.project-card .links a:hover {
    text-decoration: underline;
}

.about-section,
.contact-section {
    padding: 50px 20px;
    text-align: center;
}

#about {
    display: block;
    justify-content: center;
    align-items: center;
    background: #ff80ce;
    border-radius: 16px;
    max-width: 600px;
    margin: 0 auto;
}
.about-section h2,
.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.about-section p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    padding: 20px;
}
.contact-section p {
    text-align: center;
}

footer {
    background: #ff80ce;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav {
        flex-direction: row;
    }

    header .nav-links {
        flex-direction: column;
        align-items: center;
    }

    header .nav-links a {
        color: white;
        font-size: 15pt;
      }
    
      header .nav-links.show {
        display: flex;
      }
    
      .menu-icon {
        display: block;
        color: #363732;
      }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
    }

    footer {
        position: relative;
    }
}
  
  @media (max-width: 480px) {

    header nav {
        flex-direction: row;
    }
    
    header .nav-links {
      display: none;
      flex-direction: column;
      gap: 0;
      background-color: #333;
      position: relative;
      top: 20px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 0;
    }
  
    header .nav-links a {
      color: white;
      font-size: 15pt;
    }
  
    header .nav-links.show {
      display: flex;
      gap: 10px;
    }
  
    header .menu-icon {
      display: block;
      color: #363732;
    }
  }

  /* Back to Top and Scroll Down Buttons */
.scroll-btn {
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: #ff80ce;
    color: #ffffff;
    border-radius: 5px black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    display: none;
    z-index: 1000;
  }
  
  #back-to-top {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    bottom: 250px;
  }
  
  #scroll-down {
    bottom: 20px;
  }
  
  .scroll-btn:hover {
    background-color: black;
  }
  

  @media (max-width: 768px) {
    .scroll-btn {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
